<h1>Parks</h1>

<% @parks.each_with_index do |park, index| %>
    <div id="park<%= index%>">
        <p>Park Name: <%= park.name %></p>
        <p>Created At: <%= park.created_at %></p>
    </div>
<% end %>