<h1>Parks</h1>

<% @parks.each_with_index do |park, index| %>
    <div id="park<%= index%>">
        <p><b>Park Name:</b> <%= park.name %> <b>Created At:</b> <%= park.created_at %></p>
    </div>
<% end %>